<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="css/aboutfeed.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <p>Contact Us</p>

<div class="info">
    <input type="text" name="" placeholder="Name:" class="abt">
    <input type="email" name="" placeholder="Email:" class="abt">
</div>

<div class="about">
    <input type="email" name="" placeholder="Subject:" class="abt">
</div>

<div class="msg">
    <textarea class="msgarea" placeholder="Leave a message:"></textarea>
</div>

<div class="submit" onclick="onClick()">
    <a href="https://wwf.fi/" class="btn">Send Message</a>
</div>
</div>
<script>
  function onClick() {
    alert("Thanks for the feedback, we're constantly trying to improve our user's experience and your feedback helps!");
  }
</script>
</body>
</html>