<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/product.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/product" class="productAdd">
    <fieldset>
        <legend> Add a product for sale / giveaway</legend>
        <label for ="name">Name of the product</label>
        <input type="text" id="name" name="name" autofocus required size="30"/>
        <br>
        <label for ="brand">Brand</label>
        <input type="text" id ="brand" name="brand" required size="30"/>
        <br>
        <label for="description">Description</label>
        <textarea name="description" id ="description" placeholder="Details"></textarea>
        <br>
        <label for="ptype">Product type</label>
        <input type="text" id = "ptype" name="ptype" required placeholder="what kind of product are we dealing with here?" size="50"/>
        <br>
        <label for="condition">Condition</label>
        <br>
        <input type="number" id="condition" name="condition">
        <span class="note">Rate the condition of the product on scale of 1-10</span>
        <br>
        <label for="price">Price</label>
        <input type="number" id ="price" name="price" size="10"/>
        <br>
        <input type="submit" value="Send">
    </fieldset>
</form>
<form action="/image" class = "imageAdd">
    <fieldset>
            <input type="text" name="" placeholder="Title">
            <label class="button">Select image
                <input type="file" name="imgA" id="imgA" accept="image/*">
            </label>
            <button type="submit">Submit</button>
    </fieldset>
</form>
</body>
<script src="js/product.js"></script>
</html>