<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<form>

<!--
    <label for ="brand">Brand</label>
    <input type="text" id="brand" name="brand"/>
-->
    <select id="brandname">
        <option value="Nike">Nike</option>
        <option value="Adidas">Adidas</option>
        <option value="Reebok">Reebok</option>
    </select>
    <button type="submit">Search</button>


</form>

<div id="ppage">
    
</div>

<script src="js/ppage.js"></script>
</body>
</html>