<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/form.css"></head>
<body>
<form action="register" id="rform" method="post" onsubmit="return validat()">
    <label>Username</label>
    <input type="text" id="uname" name="username" pattern="^[a-zA-Z ]*$">
    <label>Password</label>
    <input type="password" id="passw" name="password" required>
    <label>Email</label>
    <input type="email" id="eml" name="email" pattern="^[a-z0-9_-]+(.[a-z0-9_-]+)*@([a-z0-9_-]+.)+[a-z]{2,6}$">
    <label>Phone</label>
    <input type="number" id="pnumber" name="phone" pattern=^[0-9]*$">
    <label>City</label>
    <input type="text" id="loc" name="location">
    <input type="submit" id="sub">

</form>
<a href="index.html" id="logina">Takaisin etusivulle</a>
</body>
</html>