<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ustyle.css">
    <title>Userpage</title>
</head>
<body>
<div class="cent-model">
    <div class="cent-content">
        <h1>Your Listed Products</h1>
        <p class="udata"></p>
        <a href="index.html">Back to the homepage</a>
    </div>
    <br>
    <br>
</div>
<div class="spacer"></div>

<div id="ppage"></div>
    <br>



<script src="js/userp.js"></script>
</body>
</html>