<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/ustyle.css">
    <title>Userpage</title>
</head>
<body>
<div class="cent-model">
    <div class="cent-content">
        <h1>Olet kirjautunut sisään</h1>
        <h2>Tervetuloa verkkokauppaan</h2>
        <p class="udata"></p>
        <a href="index.html">Takaisin kotiin</a>
    </div>
    <br>
    <br>
</div>
<div id="ppage"></div>
    <br>



<script src="js/userp.js"></script>
</body>
</html>