.productForm{
    background-color: #2f4f4f;
}
.productForm a{
    color: azure;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
/*
Keep the log in / register form in check with labels
*/
.productForm label {
    display: block;
    padding: 1rem 0 .25rem;
    text-transform: uppercase;
    font-size: 14px;
}

#fsone {
    padding-top: 1rem;
}

#fstwo {
    margin: 0;
    padding: 0;
}

.brandd {
    border: #253f3f;
    width: 100%;
    height: 30px;

}

.productForm input, textarea {
    display: block;
    width: 100%;
    border: 2px solid #2f4f4f;
    padding: .5rem;
    font-size: 16px;
}

/*input[type="radio"] {

}*/

/*input [type="file"] {
    padding: 10px 30px;
    color: #253f3f;
    background-color: #34495e;
    font-family: Arial sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}*/

.productForm p{
    color: azure;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 10px;
}
.formi-style {
    text-align: center;
}

#sendBtn {
    border: 0;
    background-color: #343050;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
    cursor: pointer;
}

#sBtn {
    border: 0;
    background-color: #343050;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
    cursor: pointer;
}
#productAdd{
    display: block;
    color: azure;
    top: 12vh;
    height: 100%;
    background-color:#121f1f;
    flex-direction: column;
    align-items:  center;
    width:100%;
}
#imageAdd{
    display: block;
    color: azure;
    top: 12vh;
    height: 100%;
    background-color:#121f1f;
    flex-direction: column;
    align-items:  center;
    width:100%;
}
