.higher{
    display: flex;
    padding: 1vh;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: darkslategray;
    font-size: 20px;
}

.button {
    background-color: gray; /* Green */
    border: none;
    color: azure;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#productdiv {

    display: inline-flex;
    padding: 5%;
    width: 100%;
    margin-top: 1rem;
    color: black;
}
#ppage {
    display: inline-block;
    margin-left: 33%;
    margin-top: 1%;
    background-color: azure;
    color: #253f3f;
    max-width: 45%;
    min-width: 30%;
    justify-content: center;
}
.higher input[type=text] {
    width: 40vh;
    padding: 6px;
    border-radius: 10px;
    font-size: 17px;
    border: #2f4f4f solid 0.1em;
}
.higher .searchBar button {
    border-radius: 10px;
    padding: 4px 8px;
    margin-top: 8px;
    margin-right: 16px;
    background: azure;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.higher .searBar button:hover {
    background: azure;
}
.lower{
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    min-height: 3vh;
    background-color: #253f3f;
    font-size: 20px;
}
.logo{
    color: azure;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}
.logReg-form{
    display: flex;
    position: absolute;
    right: 0;
    height: 50vh;
    top: 11.5vh;
    flex-direction: column;
    align-items:  center;
    width:20%;
    transform: translateX(100%);
    border-radius: 10px;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
    justify-content: space-around;
    background-color: #253f3f;
}
/* Change .logReg display to block after editing*/
.logReg{
    padding: 2px;
    display: block;
    cursor: pointer;
    color: azure
}
.logReg div{
    width: 25px;
    height: 5px;
    background-color: azure;
    margin: 5px;
}
.logReg:hover{
    border-bottom: azure 1px solid;
}
.userMenu{
    display: flex;
    position: absolute;
    right: 0;
    height: 30vh;
    top: 11.5vh;
    flex-direction: column;
    align-items: center;
    width:20%;
    transform: translateX(100%);
    border-radius: 10px;
    background-color: #253f3f;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
    justify-content: space-around;
}
.userMenu div{
    font-size: 20px;
}
.userMenu a{
    font-size:20px;
}
.userPage{
    display: flex;
    position: absolute;
    right: 25%;
    height: 40vh;
    top: 11.5vh;
    flex-direction: column;
    align-items: center;
    width:40%;
    transform: translateX(500%);
    border-radius: 10px;
    background-color: #253f3f;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
    justify-content: space-around;
}
.userInfo{
    padding: 2px;
    display: block;
    cursor: pointer;
    color: azure;
}
.productForm{
    display: flex;
    position: absolute;
    right: 25%;
    height: 92vh;
    top: 11.5vh;
    flex-direction: column;
    align-items: center;
    width:40%;
    transform: translateX(500%);
    border-radius: 10px;
    background-color: #253f3f;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
}
.addProduct{
    padding: 2px;
    display: block;
    cursor: pointer;
    color: azure;
}
/*change .loggedin  display to none after editing*/
.loggedIn{
    padding: 2px;
    display: none;
    cursor: pointer;
    color: azure;
}
.loggedIn div{
    width: 25px;
    height: 5px;
    background-color: azure;
    margin: 5px;
}
.loggedIn:hover{
    border-bottom: azure 1px solid;
}
.items-menu{
    display: flex;
    position: absolute;
    left: 0;
    top: 11.5vh;
    height: 100%;
    flex-direction: column;
    align-items:  center;
    width:20%;
    background-color: #253f3f;
    border-radius: 10px;
    border-right: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
    justify-content: flex-start;
}
.items-menu input{
    padding:5px;
    margin-left:10px;
    width:50%;
}
.items{
    padding: 2px;
    display: none;
    cursor: pointer;
    color: azure;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.items div{
    width: 25px;
    height: 5px;
    background-color: azure;
    margin: 5px;
}
.items:hover{
    border-bottom: azure solid 1px;
}
.AboutUs:hover{
    border-bottom: azure solid 1px;
}
.You:hover{
    border-bottom: azure solid 1px;
}
.userMenu div:hover{
    border-bottom: azure solid 1px;
}
.userMenu div{
    color:azure;
}




/* Tablets */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
    .logo{
        display:none;
    }
}


/* Bigger mobiles screens */
@media screen and (max-width: 768px){

    .items-menu{
        display: flex;
        position: absolute;
        left: 0;
        top: 11vh;
        height: 100%;
        background-color:#121f1f;
        flex-direction: column;
        align-items:  center;
        width:20%;
        transform: translateX(-100%);
    }
    .items{
        display: block;
    }
    .higher{
        font-size: 10px;
    }
    .lower{
        font-size: 15px;
    }
    .logo{
        display: none;
    }

/* Small screens */
}
@media screen and (max-width: 540px){
    .higher input[type=text] {
        width: 20vh;
        font-size: 15px;
    }
}
@media sreen and (max-width: 320px){
    .higher{
        display: block;
    }
    .lower{
        display: block;
    }
}

/* Toggle Display */
.logReg-form-active{
    transform: translateX(0%);
}
.items-menu-active{
    transform: translateX(0%);
}
.userMenu-active{
    transform: translateX(0%);
}
.loggedIn-display{
    display: block;
}
.logReg-display{
    display:none;
}
.productForm-active{
    transform: translateX(0%);
}
.userPage-active{
    transform: translateX(0%);
}

/* Animations */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
