.higher{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: darkslategray;
    font-size: 20px;
    width: 100%;
}

h1 {
    color: azure;
    font-size: 1.7em;
    padding: 0.2em;
}

.button {
    background-color: gray; /* Green */
    border: 1px solid black;
    color: azure;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    min-width: 45%;
}

.floatb {
    position: fixed;
    bottom: 0;
    background-color: #4c7f7f;
    border: none;
    color: azure;
    padding: 1.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1em 1em;
    border-radius: 48%;
}

.exitb {
    background-color: #4c7f7f;
    border: none;
    color: azure;
    padding: .3em .6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.65em;
    margin: 0.6em 0.6em;
    border-radius: 48%;
    position: absolute;
    right: 0;
}

.ibutt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5em;
}

.dynamic {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.home {
    display: flex;
    height: 100%;
    width: 100%;
}

.productdiv {
    width: 26%;
    margin: .5%;
    color: black;
    background-color: azure;
}
#ppage {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
    margin-right: 1em;
    color: #253f3f;
    width: 84%;
    justify-content: center;
}
.higher input[type=text] {
    width: 40vh;
    padding: 6px;
    border-radius: 10px;
    font-size: 17px;
    border: #2f4f4f solid 0.1em;
}
.higher .searchBar button {
    border-radius: 10px;
    padding: 4px 8px;
    margin-top: 8px;
    margin-right: 16px;
    background: azure;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.higher .searBar button:hover {
    background: azure;
}
.lower{
    min-height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    background-color: #253f3f;
    font-size: 20px;
}
.logo{
    color: azure;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}
.logReg-form{
    display: none;
    position: absolute;
    right: 3em;
    height: 26em;
    top: 6em;
    flex-direction: column;
    align-items:  center;
    width:20%;
    transform: translateX(200%);
    border-radius: 10px;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
    justify-content: space-around;
    background-color: #253f3f;
    padding: 1em;
}
.logReg-form input{
    padding: 0.2em;
    border: 1px solid azure;
    border-radius: 5px;
    background-color: azure;
    font-size: 0.8em;
}
.closeReg{
    position: absolute;
    right: 0;
    top: 0;
    color: azure;
    cursor: pointer;
    border: none;
    background-color: #253f3f;
    padding: 0.1em;
    font-size: 1em;
}
.closeLog{
    position: absolute;
    right: 0;
    top: 0;
    color: azure;
    cursor: pointer;
    border: none;
    background-color: #253f3f;
    padding: 0.1em;
    font-size: 1em;
}

.logReg-form #loginSubmit{
    background-color: azure;
    color: #121f1f;
    padding: 0.1em;
}
.logReg-form #registerSubmit{
    background-color: azure;
    color: #121f1f;
    padding: 0.1em;
}

/* Change .logReg display to block after editing*/
.logReg{
    padding: 2px;
    display: block;
    cursor: pointer;
    color: azure
}
.logReg div{
    width: 25px;
    height: 5px;
    background-color: azure;
    margin: 5px;
}
.logReg:hover{
    border-bottom: azure 1px solid;
}
.userMenu{
    display: none;
    position: absolute;
    right: 3em;
    height: 20em;
    top: 6em;
    flex-direction: column;
    align-items: center;
    width:20%;
    transform: translateX(200%);
    border-radius: 10px;
    background-color: #253f3f;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
    justify-content: space-around;
}
.userMenu div{
    font-size: 20px;
}
.userMenu a{
    font-size:20px;
}
.userPage{
    display: flex;
    position: absolute;
    right: 25%;
    height: 40vh;
    top: 6em;
    flex-direction: column;
    align-items: center;
    width:40%;
    transform: translateX(500%);
    border-radius: 10px;
    background-color: #253f3f;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
    justify-content: space-around;
}
.userInfo{
    padding: 2px;
    display: block;
    cursor: pointer;
    color: azure;
}
.productForm{
    display: flex;
    position: absolute;
    right: 25%;
    height: 40em;
    top: 6em;
    flex-direction: column;
    align-items: center;
    width:30%;
    transform: translateX(500%);
    border-radius: 10px;
    background-color: #253f3f;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2f4f4f;
}
.addProduct{
    padding: 2px;
    display: block;
    cursor: pointer;
    color: azure;
}
.closeUser{
    position: absolute;
    right: 0;
    top: 0;
    color: azure;
    cursor: pointer;
    border: none;
    background-color: #253f3f;
    padding: 0.1em;
    font-size: 1em;
}
.closeProduct{
    position: absolute;
    right: 0;
    top: 0;
    color: azure;
    cursor: pointer;
    border: none;
    background-color: #253f3f;
    padding: 0.1em;
    font-size: 1em;
}
.closeUP{
    position: absolute;
    right: 0;
    top: 0;
    color: azure;
    cursor: pointer;
    border: none;
    background-color: #253f3f;
    padding: 0.1em;
    font-size: 1em;
}
/*change .loggedin  display to none after editing*/
.loggedIn{
    padding: 2px;
    display: none;
    cursor: pointer;
    color: azure;
}
.loggedIn div{
    width: 25px;
    height: 5px;
    background-color: azure;
    margin: 5px;
}
.loggedIn:hover{
    border-bottom: azure 1px solid;
}
.items-menu{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items:  center;
    max-width:12%;
    background-color: #1c2f2f;
    justify-content: start;
}

.items{
    padding: 2px;
    display: none;
    cursor: pointer;
    color: azure;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.items div{
    width: 25px;
    height: 5px;
    background-color: azure;
    margin: 5px;
}
.items:hover{
    border-bottom: azure solid 1px;
}
.AboutUs:hover{
    border-bottom: azure solid 1px;
}
.You:hover{
    border-bottom: azure solid 1px;
}
.userMenu div:hover{
    border-bottom: azure solid 1px;
}
.userMenu div{
    color:azure;
}
@media screen and (min-width:1501px) {
.floatb {
    display: none;
}
.exitb {
    display: none;
    }
}





/* Tablets */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
    .logo{
        display:none;
    }
}


/* Bigger mobiles screens */
@media screen and (max-width: 768px){

    .items-menu{
        display: flex;
        position: absolute;
        left: 0;
        top: 11vh;
        height: 100%;
        background-color:#121f1f;
        flex-direction: column;
        align-items:  center;
        width:20%;
        transform: translateX(-100%);
    }
    .items{
        display: block;
    }
    .higher{
        font-size: 10px;
    }
    .lower{
        font-size: 15px;
    }
    .logo{
        display: none;
    }

/* Small screens */
}
@media screen and (max-width: 540px){
    .higher input[type=text] {
        width: 20vh;
        font-size: 15px;
    }
}
@media sreen and (max-width: 320px){
    .higher{
        display: block;
    }
    .lower{
        display: block;
    }
}

/* Toggle Display */
.logReg-form-active{
    transform: translateX(0%);
    display: flex;
}
.items-menu-active{
    transform: translateX(0%);
}
.userMenu-active{
    transform: translateX(0%);
    display: flex;
}
.loggedIn-display{
    display: block;
}
.logReg-display{
    display:none;
}
.productForm-active{
    transform: translateX(0%);
}
.userPage-active{
    transform: translateX(0%);
}

/* Animations */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
