* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
    font-family: "Fira Code Retina", "Helvetica",sans-serif;
}
html, body{
    background-color: #121f1f;
    height: 100%;
}
a{
    color: azure;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

p{
    /*color: azure;*/
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 10px;
}
/*
Keep the log in / register form in check with labels
*/
label {
    display: block;
    padding: 1rem 0 .25rem;
    text-transform: uppercase;
    font-size: 14px;
}
