.product-menu{
    display: flex;
    color: azure;
    position: absolute;
    left: 0;
    top: 12vh;
    height: 100%;
    background-color:#121f1f;
    flex-direction: column;
    align-items:  center;
    width:20%;
}